name: zip and publish

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: external workflow
    uses: tehw0lf/workflows/.github/workflows/build-test-publish.yml@main
    permissions:
      id-token: write
      actions: write
      contents: write
      packages: write
      security-events: write
    with:
      event_name: ${{ github.event_name }}
      addon_guid: "{531480d4-0398-499e-bdfc-79e7d6cf0055}"
      xpi_path: "injectooor.zip"
    secrets:
      AMO_API_KEY: ${{ secrets.AMO_API_KEY }}
      AMO_API_SECRET: ${{ secrets.AMO_API_SECRET }}
